:root {
    --yellow: #FFC700;
    --white: #FFFFFF;
    --black: #040101;

    --font-principal: 'Inter', sans-serif;
    --font-titulo: 'Emilys Candy';
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-principal);
    text-align: center;
    background-image: url(image/background-image.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

main {
    padding-top: 10rem;
}

.subtitulo {
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.25rem;
    color: var(--white);
}

.subtitulo span {
    color: var(--yellow);
}

.titulo {
    margin: .25rem 0;
    font-family: var(--font-titulo);
    font-weight: 400;
    font-size: 4rem;
    line-height: 5rem;
    color: var(--yellow);
}