:root {
    --yellow: #FFC700;
    --white: #FFFFFF;
    --black: #040101;

    --font-principal: 'Inter', sans-serif;
    --font-titulo: 'Emilys Candy';
}

body {
    font-family: var(--font-principal);
    text-align: center;
    background-image: url(image/background-image.png);
}

main {
    padding-top: 160px;
}

.subtitulo {
    font-weight: 700;
    font-size: 16px;
    color: var(--white);
}

.subtitulo span {
    color: var(--yellow);
}